//-------------- BUTTON DEFAULTS [ START ] --------------//
button,
.button,
.button-small,
.button-regular,
.button-large {
  font-size: var(--paragraph-regular);
  text-decoration: none;
  text-align: center;
  color: var(--dark);
  border: 1px solid var(--gray-500);
  border-radius: var(--border-radius);
  padding: .5em 1em;
  background-color: var(--white);
  cursor: pointer;
  user-select: none;
  user-drag: none;

  &:hover {
    background-color: var(--gray-100);
  }

  &:active {
    background-color: var(--gray-50);
  }

  &:disabled {
    border-color: var(--gray-200);
    color: var(--gray-200);
  }
}
//-------------- BUTTON DEFAULTS [ END ] --------------//

//-------------- BUTTON SIZES [ START ] --------------//
.button-large {
  font-size: var(--paragraph-large);
  font-weight: var(--font-semibold);
  padding: 1em 1.5em;
}

.button-regular {
  font-size: var(--paragraph-regular);
  padding: .5em 1em;
}

.button-small {
  font-size: var(--paragraph-small);
  padding: .25em .5em;
}
//-------------- BUTTON SIZES [ END ] --------------//

//-------------- BUTTON TYPE [ START ] --------------//
.button-primary {
  color: var(--white);
  background-color: var(--cyan-600);
  border-color: var(--cyan-600);

  &:hover {
    background-color: var(--cyan-700);
    border-color: var(--cyan-700);
  }

  &:active {
    background-color: var(--cyan-500);
    border-color: var(--cyan-500);
  }

  &:disabled {
    background-color: var(--cyan-100);
    border-color: var(--cyan-100);
  }
}

.button-success {
  color: var(--white);
  background-color: var(--green-600);
  border-color: var(--green-600);

  &:hover {
    background-color: var(--green-700);
    border-color: var(--green-700);
  }

  &:active {
    background-color: var(--green-500);
    border-color: var(--green-500);
  }

  &:disabled {
    background-color: var(--green-100);
    border-color: var(--green-100);
  }
}

.button-danger {
  color: var(--white);
  background-color: var(--red-600);
  border-color: var(--red-600);

  &:hover {
    background-color: var(--red-700);
    border-color: var(--red-700);
  }

  &:active {
    background-color: var(--red-500);
    border-color: var(--red-500);
  }

  &:disabled {
    background-color: var(--red-100);
    border-color: var(--red-100);
  }
}

.button-warning {
  color: var(--white);
  background-color: var(--yellow-600);
  border-color: var(--yellow-600);

  &:hover {
    background-color: var(--yellow-700);
    border-color: var(--yellow-700);
  }

  &:active {
    background-color: var(--yellow-500);
    border-color: var(--yellow-500);
  }

  &:disabled {
    background-color: var(--yellow-100);
    border-color: var(--yellow-100);
  }
}

.button-light {
  border: none;
}
//-------------- BUTTON TYPE [ END ] --------------//
